[submodule "animatediff-cli-prompt-travel"]
	path = animatediff-cli-prompt-travel
	url = https://github.com/s9roll7/animatediff-cli-prompt-travel
[submodule "facechain"]
	path = facechain
	url = https://github.com/modelscope/facechain
